node_modules/
.DS_Store
*.log
.env
.env.*
shopify-app/extensions/bundle-configurator/assets/*.js
shopify-app/extensions/bundle-configurator/assets/*.css
.claude/settings.local.json
shopify-app/public/widget/

# Local Netlify folder
.netlify
